<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plastic Bag Counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='counter.css') }}">
</head>
<body>
    <header>
        <h1>Plastic Bag Counter</h1>
    </header>

    <main>
        <section class="counter">
            <iframe title="Number of plastic bags produced" src="https://www.theworldcounts.com/embeds/counters/105?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14" style="border: none; width: 100%; height: 200px;"></iframe>
        </section>

        <section class="image-container">
            <img src="https://ghost.noissue.co/content/images/2022/05/AdobeStock_213943316.jpeg" alt="Plastic pollution" style="max-width: 100%; height: auto;">
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Plastic Pollution</p>
    </footer>
</body>
</html>





