<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Routes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainstyles.css') }}">
</head>
<body>
    <header>
        <h1>List of Routes</h1>
    </header>

    <main class="route-list">
        <ul>
            <li><a href="/recyclecharts">Recycle Charts</a></li>
            <li><a href="/recycledata">Recycle Data</a></li>
            <li><a href="/bagcounter">Plastic Bag Counter</a></li>
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Plastic Pollution</p>
    </footer>
</body>
</html>

